body {
    margin: 20px;
    border-bottom: 5px solid red;
    border-bottom: 400px;
    font-family: veranda;
}

.headshot {
    width: 150px
    
}

.card {
    border: 1px dotted blue;
    padding: 20px;
    display: flex;
    width: 400px;
    justify-content: space-around;
    border-bottom: 5px solid rgba(238, 155, 31);   /* rgb(53, 109,148) (blues)*/
    /*background-color: #dcdcdc;*/   /* grey scal bg */
    /*background-color: #ffefd5;*/   /* white/yellow scale */
    background-color: #585f64;
    color: #ffffff;
}

.font{
    font-style: italic;
}

